<GridLayout rows="400, *">
  <Image
    id="img"
    row="0"
    stretch="aspectFill"
    [src]="marvelImage | marvelImageUrl: 'portrait_uncanny'"
  ></Image>
  <ScrollView row="1" (scroll)="onScroll($event)" marginTop="-400">
    <StackLayout>
      <GridLayout height="400" rows="*, auto" columns="*">
        <Label
          row="1"
          class="font-weight-bold h1 text-center title bg-translucent"
          [text]="title"
        ></Label>
      </GridLayout>
      <section-view title="Description">
        <Label
          class="p-x-10 description"
          [text]="description || 'No description'"
        ></Label>
      </section-view>
      <ng-content></ng-content>
      <Label class="p-10 t-12 text-right" [text]="attributionText"></Label>
    </StackLayout>
  </ScrollView>
</GridLayout>
