<ActionBar [title]="comic?.title"></ActionBar>
<detail-view [description]="comic?.description"
             [marvelImage]="comic?.thumbnail"
             [title]="comic?.title"
             [attributionText]="attributionText"
>
  <StackLayout>
    <section-view title="Creators">
      <app-creator-link
        *ngFor="let creator of comic?.creators.items"
        [text]="creator.name + (creator.role ? ' (' + creator.role + ')' : '')"
        [creatorResourceUri]="creator.resourceURI"
      ></app-creator-link>
    </section-view>
    <section-view title="Series">
      <app-series-link
        [text]="comic?.series.name"
        [seriesResourceUri]="comic?.series.resourceURI"
      ></app-series-link>
    </section-view>
    <section-view title="Stories">
      <app-story-link
        *ngFor="let story of comic?.stories.items"
        [text]="story.name"
        [storyResourceUri]="story.resourceURI"
      ></app-story-link>
    </section-view>
    <section-view title="Events">
      <app-event-link
        *ngFor="let event of comic?.events.items"
        [text]="event.name"
        [eventResourceUri]="event.resourceURI"
      ></app-event-link>
    </section-view>
  </StackLayout>
</detail-view>
