<ActionBar [title]='character?.name'></ActionBar>
<detail-view [marvelImage]='character?.thumbnail'
             [title]='character?.name'
             [description]='character?.description'
             [attributionText]='attributionText'>
  <StackLayout>
    <Label class='h2 p-x-10' text='Series'></Label>
    <Label class='p-x-10' *ngFor='let s of character?.series.items' [text]='s.name'></Label>
    <Label class='h2 p-x-10' text='Comics'></Label>
    <Label class='p-x-10' *ngFor='let comic of character?.comics.items' [text]='comic.name'></Label>
    <Label class='h2 p-x-10' text='Stories'></Label>
    <Label class='p-x-10' *ngFor='let story of character?.stories.items' [text]='story.name'></Label>
    <Label class='h2 p-x-10' text='Events'></Label>
    <Label class='p-x-10' *ngFor='let event of character?.events.items' [text]='event.name'></Label>
  </StackLayout>
</detail-view>
