<GridLayout rows="* auto">
  <GridLayout row="0" [hidden]="selectedTabIndex !== 0">
    <router-outlet name="charactersTab"></router-outlet>
  </GridLayout>
  <GridLayout row="0" [hidden]="selectedTabIndex !== 1">
    <router-outlet name="seriesTab"></router-outlet>
  </GridLayout>

  <GridLayout
    row="1"
    columns="* *"
    class="bottom-navigation-bar text-center p-10"
  >
    <StackLayout
      col="0"
      (tap)="tabSelected(0)"
    >
      <Label class="mat-icon" text="&#xe8d0;"></Label>
      <Label text="Characters"></Label>
    </StackLayout>
    <StackLayout
      col="1"
      (tap)="tabSelected(1)"
    >
      <Label class="mat-icon" text="&#xe02f;"></Label>
      <Label text="Series"></Label>
    </StackLayout>
  </GridLayout>
</GridLayout>
