<GridLayout rows="* auto">
  <GridLayout row="0" [hidden]="selectedTabIndex !== 0">
    <router-outlet name="charactersTab"></router-outlet>
  </GridLayout>
  <GridLayout row="0" [hidden]="selectedTabIndex !== 1">
    <router-outlet name="seriesTab"></router-outlet>
  </GridLayout>

  <BottomNavigationBar row="1" class="bottom-navigation-bar"
                       (tabSelected)="tabSelected($event)"
                       (tabReselected)="tabReselected($event)"
  >
    <BottomNavigationTab title="Characters">
    </BottomNavigationTab>
    <BottomNavigationTab title="Series">
    </BottomNavigationTab>
  </BottomNavigationBar>
</GridLayout>
