<ActionBar [title]="story?.title"></ActionBar>
<detail-view
  [marvelImage]="story?.thumbnail"
  [title]="story?.title"
  [description]="story?.description"
  [attributionText]="attributionText"
>
  <StackLayout>
    <Label class="h2 p-x-10" text="Creators"></Label>
    <app-creator-link
      *ngFor="let creator of story?.creators.items"
      [text]="creator.name + (creator.role ? ' (' + creator.role + ')' : '')"
      [creatorResourceUri]="creator.resourceURI"
    ></app-creator-link>
    <Label class="h2 p-x-10" text="Comics"></Label>
    <app-comic-link
      *ngFor="let comic of story?.comics.items"
      [text]="comic.name"
      [comicResourceUri]="comic.resourceURI"
    ></app-comic-link>
    <Label class="h2 p-x-10" text="Events"></Label>
    <app-event-link
      *ngFor="let event of story?.events.items"
      [text]="event.name"
      [eventResourceUri]="event.resourceURI"
    ></app-event-link>
    <Label class="h2 p-x-10" text="Characters"></Label>
    <app-character-link
      *ngFor="let character of story?.characters.items"
      [text]="
        character.name + (character.role ? ' (' + character.role + ')' : '')
      "
      [characterResourceUri]="character.resourceURI"
    ></app-character-link>
  </StackLayout>
</detail-view>
