<ActionBar [title]="story?.title"></ActionBar>
<detail-view
  [marvelImage]="story?.thumbnail"
  [title]="story?.title"
  [description]="story?.description"
  [attributionText]="attributionText"
>
  <StackLayout>
    <section-view title="Creators">
      <app-creator-link
        *ngFor="let creator of story?.creators.items"
        [text]="creator.name + (creator.role ? ' (' + creator.role + ')' : '')"
        [creatorResourceUri]="creator.resourceURI"
      ></app-creator-link>
    </section-view>
    <section-view title="Comics">
      <app-comic-link
        *ngFor="let comic of story?.comics.items"
        [text]="comic.name"
        [comicResourceUri]="comic.resourceURI"
      ></app-comic-link>
    </section-view>
    <section-view title="Events">
      <app-event-link
        *ngFor="let event of story?.events.items"
        [text]="event.name"
        [eventResourceUri]="event.resourceURI"
      ></app-event-link>
    </section-view>
    <section-view title="Characters">
      <app-character-link
        *ngFor="let character of story?.characters.items"
        [text]="
          character.name + (character.role ? ' (' + character.role + ')' : '')
        "
        [characterResourceUri]="character.resourceURI"
      ></app-character-link>
    </section-view>
  </StackLayout>
</detail-view>
