<ActionBar [title]="character?.name || 'Character'"></ActionBar>
<detail-view
  [marvelImage]="character?.thumbnail"
  [title]="character?.name"
  [description]="character?.description"
  [attributionText]="attributionText"
>
  <StackLayout>
    <section-view title="Series">
      <app-series-link
        *ngFor="let s of character?.series.items"
        [text]="s.name"
        [seriesResourceUri]="s.resourceURI"
      ></app-series-link>
    </section-view>
    <section-view title="Comics">
      <app-comic-link
        *ngFor="let comic of character?.comics.items"
        [text]="comic.name"
        [comicResourceUri]="comic.resourceURI"
      ></app-comic-link>
    </section-view>
    <section-view title="Stories">
      <app-story-link
        *ngFor="let story of character?.stories.items"
        [text]="story.name"
        [storyResourceUri]="story.resourceURI"
      ></app-story-link>
    </section-view>
    <section-view title="Events">
      <app-event-link
        *ngFor="let event of character?.events.items"
        [text]="event.name"
        [eventResourceUri]="event.resourceURI"
      ></app-event-link>
    </section-view>
  </StackLayout>
</detail-view>
