<ActionBar [title]='series?.title'></ActionBar>
<detail-view [marvelImage]='series?.thumbnail' [title]='series?.title' [description]='series?.description' [attributionText]='attributionText'>
  <StackLayout>
    <GridLayout class='p-x-10' rows='auto, auto' columns='*, *'>
      <Label row='0' col='0' class='h2' text='Period'></Label>
      <Label row='1' col='0' [text]='period'></Label>
      <Label row='0' col='1' class='h2' text='Rating'></Label>
      <Label row='1' col='1' [text]='series?.rating'></Label>
    </GridLayout>
    <Label class='h2 p-x-10' text='Creators'></Label>
    <Label class='p-x-10' *ngFor='let creator of series?.creators.items' [text]='creator.name + (creator.role ? " (" + creator.role + ")" : "")'></Label>
    <Label class='h2 p-x-10' text='Comics'></Label>
    <Label class='p-x-10' *ngFor='let comic of series?.comics.items' [text]='comic.name'></Label>
    <Label class='h2 p-x-10' text='Stories'></Label>
    <Label class='p-x-10' *ngFor='let story of series?.stories.items' [text]='story.name + (story.type ? " (" + story.type + ")" : "")'></Label>
    <Label class='h2 p-x-10' text='Events'></Label>
    <Label class='p-x-10' *ngFor='let event of series?.events.items' [text]='event.name'></Label>
    <Label class='h2 p-x-10' text='Characters' [nsRouterLink]='["../../characters", series?.id]'></Label>
    <Label class='p-x-10' *ngFor='let character of series?.characters.items' [text]='character.name + (character.role ? " (" + character.role + ")" : "")'></Label>
  </StackLayout>
</detail-view>
