* {
  font: "OpenSans-Regular", "Open Sans";
}

.font-bold {
  font: "OpenSans-Bold", "Open Sans Bold";
}

.font-light {
  font: "OpenSans-Light", "Open Sans Light";
}

.bg-translucent {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
